<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Please pick a number</h1>
    <div th:if="${number}">
        <h2>You chose: <span th:text="${number}"></span></h2>
        <h2>Dice Roll: <span th:text="${random}"></span></h2>
        <h1 th:if="${number} == ${random}">Winner!</h1>
        <h1 th:if="${number} != ${random}"> Try Again!</h1>
    </div>
    <ul>
      <li><a href="/roll-dice/1">1</a></li>
      <li><a href="/roll-dice/2">2</a></li>
      <li><a href="/roll-dice/3">3</a></li>
      <li><a href="/roll-dice/4">4</a></li>
      <li><a href="/roll-dice/5">5</a></li>
      <li><a href="/roll-dice/6">6</a></li>
    </ul>
</body>
</html>